<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Transaction Sucessful</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
<span th:align="center">Your account balance is  </span>
<span th:text="${val}"></span>
<br><br>


<h2 th:align="center">All the previous view balance of the user:</h2>
<br/>
<div>
    <table class="table table-bordered table-dark">
        <tr>
            <th>txn_id</th>
            <th>txn_type</th>
            <th>user_id</th>
            <th>time_stamp</th>
        </tr>
        <tr th:each ="Transaction_History : ${data}">
            <td th:text="${Transaction_History.txn_id}">...</td>
            <td th:text="${Transaction_History.txnType}">...</td>
            <td th:text="${Transaction_History.username}">...</td>
            <td th:text="${Transaction_History.time_stamp}">...</td>

        </tr>
    </table>
</div>
<br>
<form th:action="@{/login}" method="get" th:align="center">
    <input type="submit" class="btn btn-secondary" value="Sign Out"/>
</form>
<br>
<form th:action="@{/txn}" method="get" th:align="center">
    <input type="submit" class="btn btn-secondary" value="Home"/>
</form>

</body>
</html>