<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
</head>
<body>

<form  method="post" id="form2">
    <label for="username">Enter the username:</label><br>
    <input type="text" id="username" name="user"><br><br>
    <label for="pass">Enter the password:</label><br>
    <input type="password" id="pass" name="password"><br><br>
</form>
<button type="submit" form="form2" value="Submit">login</button>
<br><br>

<a href="SignUp.html">Sign Up</a>

<script>
    $('#form2')
        .ajaxForm({
            url : '/token', // url
            dataType : 'json',
            success : function (response) {
                localStorage.setItem("token",response);
                var newUrl=window.location.protocol+"//"+window.location.host+"/txn";
                window.open(newUrl,"_self")
            },
            error : function (response) {
                alert("Invalid Credentials");
            }
        })
    ;
</script>
</body>
</html>