<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }
        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }
        #login .container #login-row #login-column #login-box #form2 #register-link {
            margin-top: -85px;
        }
         .calcBtn {
             font-size: 10px;
             width: 70px;
             height: 70px;
             margin: 2px;
         }

    </style>
</head>

<body>
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="form2" class="form" method="post" >
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" onclick="c(this.id)" name="user" id="username" onkeydown="return false" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">pin:</label><br>
                            <input type="password" onclick="c(this.id)" onkeydown="return false" name="pin" id="password" class="form-control">
                        </div>
<!--                        <div class="form-group" th:align="center">-->
<!--                            <input type="submit"  form="form2" name="submit" class="btn btn-info btn-md" value="submit" autofocus>-->
<!--                        </div>-->
                        <br>
<!--                        <div id="register-link" class="text-right">-->
<!--                            <a href="/SignUp" class="text-info">Register here</a>-->
<!--                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="VirtualKey" align="center">
    <input class="calcBtn" id="btn7" type="button" onclick="input(this);" value="7"/>
    <input class="calcBtn" id="btn8" type="button" onclick="input(this);" value="8"/>
    <input class="calcBtn" id="btn9" type="button" onclick="input(this);" value="9"/>
    <input class="calcBtn" id="btnCan" type="button" onclick="location.href='/token/logout'" style="color:green" value="Cancel"/>
    <br />

    <input class="calcBtn" id="btn4" type="button" onclick="input(this);" value="4"/>
    <input class="calcBtn" id="btn5" type="button" onclick="input(this);" value="5"/>
    <input class="calcBtn" id="btn6" type="button" onclick="input(this);" value="6"/>
    <input class="calcBtn" id="btnBack" type="button" onclick="back()" style="color:green" value="BackSpace"/>
    <br />
    <input class="calcBtn" id="btn1" type="button" onclick="input(this);" value="1" />
    <input class="calcBtn" id="btn2" type="button" onclick="input(this);" value="2" />
    <input class="calcBtn" id="btn3" type="button" onclick="input(this);" value="3"/>
    <input class="calcBtn" id="btnEnt" type="submit" form="form2" style="color:green" value="Enter"/>
    <br />
    <input class="calcBtn" id="btnDot" type="button" onclick="input(this)" style="color:green" value="."/>
    <input class="calcBtn" id="btn0" type="button" onclick="input(this)" value="0"/>
    <input class="calcBtn" id="btn.00" type="button" onclick="input(this)" value=".00"/>
    <input class="calcBtn" id="btnDel" type="button" style="color:red" value="Delete" onclick="del();" />
</div>

<script>

    var inputBoxId="";

    function c(idx) {
       inputBoxId=idx;
    }

    function input(e) {
        var tbInput = document.getElementById(inputBoxId);
        tbInput.value=tbInput.value + e.value;
    }

    function back() {
        var tbInput = document.getElementById(inputBoxId);
        tbInput.value = tbInput.value.substr(0, tbInput.value.length-1);
    }

    function del() {
        var tbInput = document.getElementById(inputBoxId);
        tbInput.value = "";
    }

</script>

<script>
    $('#form2')
        .ajaxForm({
            url : '/token', // url
            async:false,
            success : function (response) {
                 // todo can change the code
                console.log(response);
                var newUrl=window.location.protocol+"//"+window.location.host+"/txn";
               console.log(newUrl);
                window.open(newUrl,"_self")
            },
            error : function (response) {
                alert("Invalid Credentials");
            }
        })
    ;
</script>
</body>
</html>