<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Transaction Sucessful</title>

    <style>
        body{
            background-color: aliceblue;
        }
        #form1 #form2{
            margin-top: 100px;
            margin-left: 60px;
            display: inline-flex;
        }

    </style>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<!--[[${#httpServletRequest.remoteUser}]]-->
<body>
<h1 th:inline="text" th:align="center">Hello  Transaction Sucessful!</h1>
<form id="form1" th:action="@{/logout}" method="get" th:align="center">
    <input type="submit" class="btn btn-secondary" value="Sign Out"/>
</form>
<br><br>
<form id="form2" th:action="@{/txn}" method="get" th:align="center">
    <input type="submit" class="btn btn-secondary" value="Home"/>
</form>
</body>
</html>