<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<html lang="en">-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        .calcBtn {
            font-size: 10px;
            width: 70px;
            height: 70px;
            margin: 2px;
        }

    </style>
</head>
<body>
<h1 th:text="${val}" th:align="center"></h1>
<br><br>
<h2 align="center">All the previous transaction of the user:</h2>
<br/>
<div>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th>txn_id</th>
            <th>txn_type</th>
            <th>amount</th>
            <th>user_id</th>
            <th>time_stamp</th>
        </tr>
        </thead>
        <tr th:each ="Transaction_History : ${data}">
            <td th:text="${Transaction_History.txn_id}">...</td>
            <td th:text="${Transaction_History.txnType}">...</td>
            <td th:text="${Transaction_History.amount}">...</td>
            <td th:text="${Transaction_History.username}">...</td>
            <td th:text="${Transaction_History.time_stamp}">...</td>

        </tr>
        </tr>
    </table>
</div>


<!--<form action="/token/logout" method="get" th:align="center" th:form="form2">-->
<!--    <input type="submit" class="btn btn-secondary" value="Sign Out"/>-->
<!--    <br><br>-->
<!--</form>-->
<!--<form th:action="@{/txn}" method="get" th:align="center">-->
<!--    <input class="btn btn-secondary" type="submit" value="Home"/>-->
<!--</form>-->


<div id="VirtualKey" align="center">
    <input class="calcBtn" id="btn7" type="button" onclick="input(this);" value="7"/>
    <input class="calcBtn" id="btn8" type="button" onclick="input(this);" value="8"/>
    <input class="calcBtn" id="btn9" type="button" onclick="input(this);" value="9"/>
    <input class="calcBtn"  onclick="location.href='/token/logout'" id="btnCan" type="button"  style="color:green" value="Cancel"/>
    <br />

    <input class="calcBtn" id="btn4" type="button" onclick="input(this);" value="4"/>
    <input class="calcBtn" id="btn5" type="button" onclick="input(this);" value="5"/>
    <input class="calcBtn" id="btn6" type="button" onclick="input(this);" value="6"/>
    <input class="calcBtn" id="btnBack" type="button" onclick="back()" style="color:green" value="BackSpace"/>
    <br />
    <input class="calcBtn" id="btn1" type="button" onclick="input(this);" value="1" />
    <input class="calcBtn" id="btn2" type="button" onclick="input(this);" value="2" />
    <input class="calcBtn" id="btn3" type="button" onclick="input(this);" value="3"/>
    <input class="calcBtn" id="btnEnt" type="button" onclick="ent()" style="color:green" value="Enter"/>
    <br />
    <input class="calcBtn" id="btnDot" type="button" onclick="input(this)" style="color:green" value="."/>
    <input class="calcBtn" id="btn0" type="button" onclick="input(this)" value="0"/>
    <input class="calcBtn" id="btn.00" type="button" onclick="input(this)" value=".00"/>
    <input class="calcBtn" id="btnDel" type="button" style="color:red" value="Delete" onclick="del();" />
</div>

<script>
    function input(e) {
        var tbInput = document.getElementById("amount");
        if (amount.value.length < 16) {
            amount.value=amount.value + e.value;
        }
    }

    function back() {
        var tbInput = document.getElementById("amount");
        amount.value = amount.value.substr(0, amount.value.length-1);
    }

    function del() {
        var tbInput = document.getElementById("amount");
        amount.value = "";
    }

</script>



</body>
</html>